In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from time import time, sleep
from datetime import timedelta

# keep matplotlib interactive
%matplotlib notebook
# %matplotlib inline
# use ggplot style
plt.style.use('ggplot')

In [3]:
# create file path and compute total number of lines
user_log_dir = os.path.join(os.pardir, 'data', 'raw', 'user_logs.csv')
# Total_rows = sum(1 for line in open(user_log_dir))
# print('Number of rows = ', Total_rows)

In [29]:
# number of rows
Num_rows = 1e6
# Num_rows = 20e6

# aggregate user activity
df_song_length = pd.DataFrame()

In [30]:
# USERS LOG IS SORTED BY CUSTOMER ID
# create file iterator
reader_iter = pd.read_csv(user_log_dir, index_col = 'date', parse_dates=['date'], chunksize=Num_rows,\
        usecols = ['msno', 'date', 'num_25', 'num_50', 'num_75', 'num_985', 'num_100'], dtype = {'msno' : 'category'})

In [31]:
# get a first chunk
df_chunk = reader_iter.get_chunk(Num_rows)

In [32]:
df_chunk.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000000 entries, 2015-05-13 to 2016-01-17
Data columns (total 6 columns):
msno       1000000 non-null category
num_25     1000000 non-null int64
num_50     1000000 non-null int64
num_75     1000000 non-null int64
num_985    1000000 non-null int64
num_100    1000000 non-null int64
dtypes: category(1), int64(5)
memory usage: 61.1 MB

In [33]:
# group by user and month
df_song_length_chunk = df_chunk.groupby(['msno', pd.Grouper(level='date', freq='M')]).sum()

In [34]:
df_song_length_chunk.head()

                                                         num_25  num_50  \
msno                                         date
++Re/XY4v6500lA5vyrUA/WPsAfXqv1A/4d0FCbvpSI= 2015-01-31     NaN     NaN
                                             2015-02-28     NaN     NaN
                                             2015-03-31     NaN     NaN
                                             2015-04-30     NaN     NaN
                                             2015-05-31     NaN     NaN

                                                         num_75  num_985  \
msno                                         date
++Re/XY4v6500lA5vyrUA/WPsAfXqv1A/4d0FCbvpSI= 2015-01-31     NaN      NaN
                                             2015-02-28     NaN      NaN
                                             2015-03-31     NaN      NaN
                                             2015-04-30     NaN      NaN
                                             2015-05-31     NaN      NaN

                                                         num_100
msno                                         date
++Re/XY4v6500lA5vyrUA/WPsAfXqv1A/4d0FCbvpSI= 2015-01-31      NaN
                                             2015-02-28      NaN
                                             2015-03-31      NaN
                                             2015-04-30      NaN
                                             2015-05-31      NaN

In [13]:
# add last time serie to global time serie
df_song_length = df_song_length.add(df_song_length_chunk, fill_value = 0)

# normalize count by number of days in each month.
# df_chunk.index.daysinmonth

ValueError: cannot join with no level specified and no overlapping names